.modalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 51.5px;
    gap: 24px;
}

@media screen and (max-width: 576px){
    :global{
        .ant-modal-body{
            padding: 0;
        }
    }

    .modalContainer{
        padding: 32px 16px;
    }
} 