.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    :global{
        h3.ant-typography{
            margin-top: 0;
            margin-bottom: 32px;
        }

        .ant-form-item{
            margin-bottom: 32px;
        }
    }
}